* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    /* background: url(../images/bg.png); */
    overflow: hidden;
    -webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* @font-face{
    font-family:STKaiti;
    src:url('./STKaiti.ttf');
} */

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* background: url(../images/bg.png); */
    font-size: .32rem;
    -webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
 /* WebKit browsers */   
color: #635747;   
}   
input:-moz-placeholder, textarea:-moz-placeholder {   
/* Mozilla Firefox 4 to 18 */   
color: #635747;   
}   
input::-moz-placeholder, textarea::-moz-placeholder {   
 /* Mozilla Firefox 19+ */   
color: #635747;   
}   
input:-ms-input-placeholder, textarea:-ms-input-placeholder {   
 /* Internet Explorer 10+ */   
color: #635747;   
}

ul,li{
    list-style: none;
}

.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.none {
    display: none
}


#loading {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: url(../images/bg.png); */
    background-color: #fff;
    z-index: 101;
}

#loading .inner{
    position: absolute;
    width: .8rem;
    top: 50%;
    left: 50%;
    margin-top: -.4rem;
    margin-left: -.4rem;
}

#loading img {
    width: .8rem;
    animation: 3s linear 0s myrotate infinite;
    -webkit-animation: 3s linear 0s myrotate infinite;
}

#loading .bar {
    margin-top: 1.2rem;
    color: #ca301c;
    font-size: .28rem;
    text-align: center;
}

@keyframes myrotate {
    form {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes myrotate {
    form {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.myrotate{
    -webkit-animation-name: myrotate;
    animation-name: myrotate;
    animation-timing-function:linear;
    -webkit-animation-timing-function:linear
}


.audio-btn{
    position: absolute;
    z-index: 101;
    top: .2rem;
    right: .2rem;
    width: .6rem;
    height: .6rem;
    display: none;
}

.audio-btn img{
    width: .6rem;
}

.audio-btn.play{
    animation: myrotate 1.5s linear both infinite;
    -webkit-animation: myrotate 1.5s linear both infinite;
}


body .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.swiper-slide{
    background-position: 50% 50%;
}

.swiper-slide .img,
.swiper-slide img {
    position: absolute;
    z-index: 10;
}

.swiper-slide .logo{
    width: 3.53rem;
    top: .91rem;
    left: .5rem;
}

.page1.swiper-slide{
    background: url(../images/bg.png) no-repeat no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}
/* 
.page1 .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 20;
} */

/* .page1 .content {
    height: 9.8rem;
    margin-top: -1rem;
} */

.font1-1 {
    width: 1.87rem;
    top: 3.54rem;
    left: 2.82rem;
}

.font1-2 {
    width: 4.82rem;
    top: 4.11rem;
    left: 1.34rem;
}

.font1-3 {
    width: 2.56rem;
    top: 4.96rem;
    left: 2.48rem;
}

.font-tip {
    width: 3.93rem;
    top: 6.52rem;
    left: 1.8rem;
}

.s-tip {
    width: 2.01rem;
    top: 8.01rem;
    left: 2.75rem;
}

.btn-panel {
    position: absolute;
    top: 9.58rem;
    left: 1.42rem;
}

.btn-panel .btn2 {
    left: 2.75rem;
}

.btn-panel .btn1, .btn-panel .btn2{
    width: 1.91rem;
}

.page2 {
    background-color: #fff;
}

.page2 .head-panel {
    height: 3.96rem;
    background: url(../images/s-bg.png) no-repeat no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    position: relative;
}

.page2 .logo{
    width: 2.73rem;
    top: .45rem;
    left: .33rem;
}

.font2-1 {
    width: 5.43rem;
    top: 2.03rem;
    left: 1.04rem;
}

.font2-2 {
    width: 1.55rem;
    top: 2.82rem;
    left: 5.44rem;
}

.form-panel {
    position: absolute;
    top: 5rem;
    width: 4.26rem;
    left: 1.63rem;
    z-index: 11;
}

.form-panel .input2 {
    position: absolute;
    top: .98rem;
}

.form-panel .input3 {
    position: absolute;
    top: 1.96rem;
}

.form-panel .input4 {
    position: absolute;
    top: 2.94rem;
}

.form-panel .input5 {
    position: absolute;
    top: 1.96rem;
}

.form-panel .input6 {
    position: absolute;
    top: 2.94rem;
}

.content2 .form-panel .input7 {
    position: absolute;
    top: 3.92rem;
}

.form-panel .input-box {
    width: 100%;
}

.form-panel .date-input {
    z-index: 11;
}

.form-panel .input-box input{
    background: transparent;
    width: 100%;
    font-size: .24rem;
    outline: none;
    border: 1px solid #bfbfbf;
    height: .56rem;
    border-radius: 4px;
    padding: 0 .2rem;
    display: block;
    line-height: .56rem;
    box-sizing: border-box;
}

.submit-btn {
    width: 2.3rem;
    top: 4.46rem;
    left: .97rem;
}

.back-btn {
    width: .48rem;
    bottom: .8rem;
    right: .67rem;
}

.page2 .content, .page2 .content2 {
    display: none;
}

.page2 .content2 .submit-btn{
    top: 5.16rem;
}

input[type=text], input[type=tel], textarea {
    -webkit-appearance: none;
    appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #afb0b0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #afb0b0;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #afb0b0;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #afb0b0;
}
input[type="date"]:before{
    color:#afb0b0;
    content:attr(placeholder);
}
input[type="datetime-local"]:before{
    color:#afb0b0;
    content:attr(placeholder);
}

input[type="date"].full:before {
    color:#afb0b0;
    content:""!important;
}
select{
    box-sizing: border-box;
    padding-left: 11px;
    font-size: 16px;
    width: 100%;
    position: absolute;
    height: .56rem;
    border-radius: 4px;
    padding: 0 .2rem;
    display: block;
    line-height: .56rem;
    border: 1px solid #afb0b0;
    border-radius: 5px;
    background: transparent;
    outline: none;
}